.gamefield {
    display: inline-grid;
    width: 300px;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.onefield {
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(0, 0, 0, 1);
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    display: grid;
    place-items: center;
}

.circle {
    height: 40%;
    width: 40%;
    border-color: rgb(255, 162, 55);
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    margin: 0px;
    pointer-events: none;
}

.cross {
    margin: 0px;
    border-width: 0px;
    padding: 0px;
    color: rgb(24, 32, 146);
    font-size: 50px;
    pointer-events: none;
}

.circle_hover {
    opacity: 50%;
    height: 45%;
    width: 45%;
    border-width: 2px;
}

.cross_hover {
    opacity: 30%;
}